__pycache__/
*.pyc

# Data
images/
combined/
raw_data/
outputs/

# Models
*.pth

# Media
*.jpeg
*.jpg
*.png
*.pdf

# Logs
logs/
runs/

# OS
.DS_Store

# Docs
EDA_Interpretation.md

# Secrets
api_key.txt
.env

# Devcontainer & Jupyter
.devcontainer/
EPIC.jupyterlab-workspace

# Settings for codespace
.vscode/settings.json
